{% extends 'back.html.twig' %}

{% block content %}

        <br><br><br><br><br><br><br><br><br>
        <div class="hero__img d-none d-lg-block align-self-center" data-animation="fadeInRight" data-delay="1s">
            <video class="owl-video-frame" controls style="margin-left: 350px">
                <source src="{{ asset('front/assets/img/Média1.mp4') }}" type="video/mp4">
            </video>
        </div>
    <br><br>
{% endblock %}