{% extends 'base.html.twig' %}

{% block content %}
    <center>
        <h1>WELCOME TO OUR <h1 style="font-family: Atlane ; color: #672d8b"> DEBOO </h1></h1>
        <br><br>
        <div class="col-lg-6 ; centered">
            <div class="hero__img d-none d-lg-block f-right" data-animation="fadeInRight" data-delay="1s">
                <video class="owl-video-frame " controls>
                    <source src="{{ asset('front/assets/img/Média1.mp4') }}" type="video/mp4">
                </video>
            </div>
        </div>
    </center>

{% endblock %}