{% extends 'back.html.twig' %}

{% block content %}
    <main>

        <!-- Slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">

                <div class="single-slider slider-height slider-padding sky-blue d-flex align-items-center">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-6 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".6s">Get things done<br>with <h1 data-animation="fadeInUp" data-delay=".6s" style="font-family: Atlane"> DEBOO</h1></h1>
                                    <p data-animation="fadeInUp" data-delay=".8s">We Are The Best DEBOO . Don't be Shy to contact us</p>
                                    <!-- Slider btn -->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="hero__img d-none d-lg-block f-right" data-animation="fadeInRight" data-delay="1s">
                                    <video class="owl-video-frame" controls>
                                        <source src="{{ asset('front/assets/img/Média1.mp4') }}" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End -->
        <!-- Best Features Start -->

        <!-- Best Features End -->
        <!-- Services Area Start -->
        <section class="service-area sky-blue section-padding2">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-tittle text-center">
                            <h2>How Can We Help You<br>with <span style="font-family: Atlane"> DEBOO</span>!</h2>
                        </div>
                    </div>
                </div>
                <!-- Section caption -->

            </div>
        </section>
        <!-- Services Area End -->
        <!-- Applic App Start -->

        <!-- Applic App End -->
        <!-- Best Pricing Start -->

        <!-- Best Pricing End -->
        <!-- Pricing Card Start -->

        <div class="say-something-aera pt-90 pb-90 fix">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="offset-xl-1 offset-lg-1 col-xl-5 col-lg-5">
                        <div class="say-something-cap">


                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3">
                        <div class="say-btn">
                            <h6>Add Your Question</h6>
                            <a href="{{path('ajouter_question_customer')}}" class="btn radius-btn" id="ctn">Contact Us</a>
                        </div>
                    </div>

                </div>

            </div>
            <!-- shape -->
            <div class="say-shape">
                <img src="{{ asset('front/assets/img/q.jpg') }}" alt="" class="say-shape1 rotateme d-none d-xl-block">
                <img src="{{ asset('front/assets/img/shape/say-shape-right.png') }}" alt="" class="say-shape2 d-none d-lg-block">
            </div>
        </div>
        <!-- Say Something End -->

    </main>
{% endblock %}